* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fffaf3;
  color: #333;
}

/* Navbar */
.navbar {
  position: absolute;
  top: 0;  
  left: 0;
  width: 100%;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background: none;
  transition: all 5s ease;
}

nav a{
    text-decoration: none;
    font: #f1f1f1;
    margin: 0 15px;
    font-size: 18px;
    display: inline-block;
    padding: 2px 8px;
    transition: 0.5s ease;
}
nav a:hover {
    font-weight: bold;
    border-radius: 25px;
    background-color:#d62828;
    transform: scale(1.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #d62828;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.auth .btn {
  margin-left: 10px;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  padding: 6px 10px;
  border-radius: 10px;
}

/* Buttons */
.btn {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn.light {
  background: #f1f1f1;
}

.btn.dark {
  background: #d62828;
  color: white;
}

.btn:hover{
    font-weight: bold;
    transform: scale(1.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* Hero */
.hero {
  height: 90vh;
  background: url("file_00000000b33c71fd8659211646644dca.png")
    top center /cover no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  background: none;
  padding: 40px;
  text-align: center;
  color: white;
  border-radius: 15px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 25px;
}

/* Search */
.search-box {
  display: flex;
  gap: 10px;
}

.search-box input,
.search-box select {
  padding: 10px;
  border-radius: 6px;
  border: none;
  width: 180px;
}

/* Features */
.features {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background: #fff;
}

.feature {
  text-align: center;
  font-size: 18px;
}

.feature span {
  font-size: 14px;
  color: #777;
}

/* Dishes */
.dishes {
  padding: 50px;
}

.dishes h2 {
  text-align: center;
  margin-bottom: 30px;
}

.dish-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  margin: 15px 0 5px;
}

.price {
  color: #2a9d8f;
  font-weight: bold;
  margin-bottom: 10px;
}

/* HOW IT WORKS */
.how-it-works {
  padding: 70px 50px;
  background: #fff;
  text-align: center;
}

.how-it-works h2 {
  font-size: 32px;
  margin-bottom: 45px;
}

.steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.step {
  background: #fffaf3;
  padding: 10px 25px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.step:hover {
  transform: translateY(-8px);
}

.step img {
  width: 300px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.step h3 {
  margin-bottom: 8px;
}

.step p {
  color: #777;
  font-size: 15px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #f4f4f4;
  margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .dish-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .steps {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .search-box {
    flex-direction: column;
  }

  .dish-grid,
  .steps {
    grid-template-columns: 1fr;
  }

  .features {
    flex-direction: column;
    gap: 25px;
  }
}




